@import "custom/jonbar";

section {
  display: block
}

html {
  height: 100%;
}

body {
  background-color: #465070;
  background-image: -webkit-gradient(radial, 50% 100%,100,50% -50%,100, from(rgb(36, 42, 62)),to(rgb(70, 80, 112)));
  background-image: -webkit-radial-gradient(50% 0%, rgb(70, 80, 112), rgb(36, 42, 62));
  background-image: -ms-radial-gradient(50% 0%, rgb(70, 80, 112), rgb(36, 42, 62));
  background-image: radial-gradient(50% 0%, rgb(70, 80, 112), rgb(36, 42, 62));
  background-image: -moz-radial-gradient(50% 0%, rgb(70, 80, 112), rgb(36, 42, 62));
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 90%;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

#main {
  background: transparent;
  width: 30em;
  margin: 1em auto;
  /* background: rgba(255,255,255,.1); */
  padding: 3em 5em;
  /* border: 1px solid rgba(0, 0, 0, .1); */
}

#name, #desc {
  color: #eee;
  text-align: center;
  font-family: 'LeagueGothicRegular', sans-serif;
  margin-top: -.25em;
  margin-bottom: -.25em;
  color: #eee;
  text-shadow: rgb(95, 79, 99) 0px 1px 0px, rgb(81, 68, 85) 0px 2px 0px, rgb(65, 54, 68) 0px 3px 0px, rgb(51, 43, 53) 0px 4px 0px, rgba(0, 0, 0, 0.199219) 0px 5px 1px, rgba(0, 0, 0, 0.296875) 0px 0px 10px, rgba(0, 0, 0, 0.398438) 0px 3px 5px, rgba(0, 0, 0, 0.496094) 0px 6px 5px, rgba(0, 0, 0, 0.597656) 0px 10px 10px; 
}

a:active, a:visited {
  color: #eee;
}

#name {
  font-size: 9em;
}

#desc {
  font-size: 3em;
}

img#jon {
  margin-top: 1em;
  margin-bottom: 1em;
}

#about {
  font-size: 1.2em;
  color: #eee;
  text-align: justify;
}

#about a, #about a:visited {
  color: #ccc;
}
