<h1 class="entry-title"><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
<p class="meta">
  {% capture date %}{{ page.date }}{{ post.date }}{% endcapture %}
  {% capture date_formatted %}{{ page.date_formatted }}{{ post.date_formatted }}{% endcapture %}
  {% capture has_date %}{{ date | size }}{% endcapture %}

  {% capture updated %}{{ page.updated }}{{ post.updated }}{% endcapture %}
  {% capture updated_formatted %}{{ page.updated_formatted }}{{ post.updated_formatted }}{% endcapture %}
  {% capture was_updated %}{{ updated | size }}{% endcapture %}

  {% if has_date != '0' %}
  {% capture time %}<time datetime="{{ date | datetime | date_to_xmlschema }}" pubdate{% if updated %}
  data-updated="true"{%endif %}>{{ date_formatted }}</time>{% endcapture %}
  {% endif %}
  {% if time %} {{ time }} {% endif %}

{% if was_updated != '0' %}
  {% capture updated %}<time datetime="{{ updated | datetime | date_to_xmlschema }}" class="updated">Updated {{ updated_formatted }}</time>{% endcapture %}
{% else %}{% assign updated = false %}{% endif %}
  {% capture category %}{% if post %}{{ post.categories | category_links | size }}{% else %}{{ page.categories | category_links | size }}{% endif %}{% endcapture %}
  {% unless category == '0' %}
  in <span class="categories">
    {% if post %}
    {{ post.categories | category_links }}
    {% else %}
    {{ page.categories | category_links }}
    {% endif %}
  </span>
  {% endunless %}
</p>
  
 {% if index %}
  <div class="entry-content">{{ content | excerpt }}</div>
  {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
  {% if excerpted == 'true' %}
    <footer>
      <a rel="full-article" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
    </footer>
  {% endif %}
{% else %}
<div class="entry-content">{{ content }}</div>
{% endif %}
