body > header {
  background: $header-bg;
  padding: .5em 1em;
  hgroup {
    float: left;
  }
  h1 {
    display: inline-block;
    margin: 0;
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
    }
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    font-weight: normal;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
  }
}

body > div#transition {
  clear: both;
}
