// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body {
  width: 900px;
}

#content div.blog-index article h1.entry-title, header h1.entry-title {
  font-size: 1.4em;
}

.entry-content h2 {
  font-size: 1.2em;
}

#blog-archives article h1 {
  font-size: 1.1em;
}


